<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<database-config>
        
    <database-type>MySQL</database-type>
        
    <database-name>online_exam_system</database-name>
        
    <database-host>localhost</database-host>
        
    <username ENCRYPTED="YES">twyj89+fft6MYNQC3MzliQ==</username>
        
    <password ENCRYPTED="YES">QxAEsnErYTzSycUW5ckwlQ==</password>
    
</database-config>
